<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>mz后台管理系统</title>
</head>
<body>
    <!-- 把侧边栏模块放到一个单独文件，在引进侧边栏模块 -->
    <%- include('./common/side.ejs'); %>
    <div class="layout-main">
        <!-- 把header模块放到一个单独文件，在引进header模块 -->
        <%- include('./common/header.ejs'); %>
        <div class="layout-body">
            内容
        </div>
    </div>
</body>
</html>